* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: ghostwhite;
}

.interface {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    width: 100%;
    min-width: 300px;
    min-height: 200px;
}

label {
    font-weight: bold;
    font-size: 16px;
}
input {
    padding: 5px;
    margin: 5px;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
}

.controls {
    display: flex;
    display: row;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    cursor: pointer;
}